body
{
  color: dodgerblue;
  text-align: center;
  font-family: 'Lucida Sans'
}

#foot
{
  color : blanchedalmond;
  background-color: black;
  margin-left: 45%;
  border: 100px;
  padding: 5px;
  position:fixed;
  align-content: center;
  text-align: center;
}